@charset "utf-8";

.page {clear:both; position:relative; width:100%; height:100vh; box-sizing:border-box;}
.con_box{width: 1280px; height: 100%; margin: 0 auto;}
.menu{position: fixed; top: 30px; right: 0; height: 50px; z-index: 70; width: 500px; padding: 0; margin: 0;}
.menu li{float: left; margin-right: 35px;}
.menu li a{display: block; color: #fff; font-size: 23px; font-family: 'Inconsolata';}
.menu li a:hover{color: #fbff7c;}
.con_tit{color: #fff; font-family:'Inconsolata'; font-size: 40px; padding-top: 80px;}
.mn_lst li.on a { color: #fbff7c; }
.mob{display: none;}
.lst_btn{background-repeat: no-repeat; background-image: url(../img/menu.png); width: 32px; height: 32px; position: fixed; right: 20px; top: 30px; z-index: 70;}
.close_btn{background-repeat: no-repeat; background-image: url(../img/close.png); width: 32px; height: 32px; position: absolute; right: 20px; top: 30px; z-index: 70;}

/* 메인페이지 */
.main_box{position: relative; width: 150px; height: 180px; margin: 0 auto;}
.main_img{margin-left: 20px;}
#page1 #scr{position: fixed; bottom: 80px;  left: calc(50% - 25px); margin-left: -25px; width: 50px; height: 50px;}
#page1 #scr img{width: 50px;height: auto;display: block;}
.img_box{width: 1280px; height: 700px; margin: 0 auto; position: relative; text-align: center; top: 30%;}
.main_txt{width: 500px; height: 111px; margin: 0 auto; margin-left: 160px; margin-top: 180px;}



/* 스킬 */
.logo{position: relative; top: 25px; margin: 0 auto;}
.content{width: 900px; margin: 0 auto; padding-top: 50px;}
.icons{clear: both; padding: 30px;}
.img{float: left; padding-right: 30px;}
.bar {float: left; width:700px; height:80px; padding-top: 30px; margin:0 auto;}
.fullbar {width:100%; height:50px; background: #efefef; border-radius: 5px; position: relative; overflow: hidden;}
.occupy {background: #6b76ff; height:100%; border-radius: 5px; color:#fff; position: absolute; top: 0; left:-100%;}
.occupy>span {float: right; margin-right: 10px; line-height: 50px; font-size: 18px;}
#ps .occupy{width: 90%;}
#ai .occupy{width: 80%;}
#ht .occupy{width: 80%;}
#jv .occupy{width: 70%;}


/* 포트폴리오 */       
.controls{width: 90%; margin: 0 auto; margin-top: 80px; padding: 1%; background-color: #fff; color: #eee; border-radius: 20px 20px 0 0;}
.filter{width: 10%; height: 30px; background-color: transparent; border: 0; color: #363636; line-height: 30px; font-weight: 300; cursor: pointer; font-size: 18px; margin-left: 20px; font-family: "Noto Sans KR"}
button:hover{background-color: #6b76ff; color: #fff;}
button:active{background-color: #6b76ff; color: #fff;}
    
.container{width: 90%;margin: 0 auto;background-color: #fff; padding: 1%; text-align: center; backface-visibility: hidden; border-radius: 0 0 20px 20px;}
.container:after{content:"";  display: inline-block; width: 100%;}
.container .mix{display: inline-block ; padding: 0%; overflow: hidden;position: relative; text-align: left; background-color: #ddd; margin-bottom: 1%; margin-left: 2%; width: 350px; height: 200px;}
.container .mix:nth-child(1n){float: left;}
.container .mix:after{content:attr(data-myorder); color: #fff; font-size: 16px; vertical-align: top;font-weight: 700; display: inline-block;}
.container .mix:before{content: ""; display: inline-block;}
.hover{display: none;width: 100%;height: 100%; position: relative; background: #d2d5ff; padding: 0;margin: 0; cursor: pointer;}
.hovertitle{color: #666;font-weight: normal; text-align: center;font-size: 18px;padding-top: 50px;font-family: "Noto Sans KR", sans-serif;position: relative;}
.hoverline{display: none;left: 50%;margin-left: -15px;width: 30px; height: 2px; border-radius: 50px; }
.hoverlink{display: block; font-size: 15px;text-align: center;color: #666; padding: 20px 0px;}
.container .mix:hover .hover{position: absolute;left: 0;top: 0;display: block;width: 100%; height: 100%;background: #c8e4fe; }
        
#mixImg1{background-image:url(../img/pg3_3.png); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center;}
#mixImg2{background-image:url(../img/pg3_4.png); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center;}
#mixImg3{background-image:url(../img/pg3_2.png); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center;}
#mixImg4{background-image:url(../img/pg3_5.png); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center;}
#mixImg5{background-image:url(../img/pg3_6.png); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center;}
#mixImg6{background-image:url(../img/pg3_1.png); background-repeat: no-repeat; background-size: 100% 100%; background-position: center center;}    
        
        /* Contact*/
        #contlst{margin-top: 55px;}
        #contact1{float: left; margin-top: 65px;width: 400px; height: 400px;}
        #contact1 img{box-shadow: 5px 5px 10px #444; border-radius: 50%; text-align: center; margin-left: 50px;}
        #contact2{width:600px; height: 400px; margin: 0 auto; padding-top: 50px; margin-top: 45px; float: right; font-family: 'Inconsolata',"Noto Sans KR"; font-size: 17px; font-weight: 600; background-color: rgba(255,255,255,0.5); border-radius: 23%; box-shadow: 5px 5px 10px 0 #555}
        .l_lst{float: left; line-height: 40px; margin-left: 80px; margin-top: 34px; text-align: center;}
        .r_lst{float: left; line-height: 41px; margin-top: 30px; margin-left: 80px;}
        .r_lst li a{font-family: 'Inconsolata'; color: #222;}
        .r_lst li a:hover{text-decoration: underline; color:  #6b76ff;}
        
        /* footer*/
        #footer{clear: both; background:#babec3; width:100%; height:55px; position:absolute; bottom:0px;left: 0;}
        .copy{width: 1280px; height: 100%; margin: 0 auto; text-align: center;}
        #footer p { color:#333; font-size:16px; line-height:55px; font-family:'Inconsolata'; }

@media screen and (max-width: 767px){
        .page{width: 100vw; height: 100vh;}
    .mob{display: block; }
    .menu{clear: both; position: fixed; z-index: 90; background-color: #f8f8f8; width: 80%; height: 100vh; margin-top: 0; top: 0; right: -100%; transition: 0.7s;}
    .mn_lst{margin-left: 10%; margin-top: 50%;}
    .menu li{float: none; padding-bottom: 10%;}
    .menu li a{color: #6b76ff; font-size: 24px; font-weight: 600;}
    .mn_lst li.on a { color: #6b76ff; }
    #lst_ck:checked ~ .mn .menu{right: 0%;}
        .con_tit{padding: 0; padding-top: 20px;}
        .con_box{width: 90%; height: 100%; margin: 0 auto;}
        #scr{display: none;}
        .img_box{width: 90%; height: 50%; margin: 0 auto;}
    .img_box img{width: 180px; height: auto;}
        
        .content{width: 90%; height: 100%; margin: 0 auto;}
        .icons{padding: 0;}
        .img{padding: 0;}
        .img img{width: 60px; padding-right: 35px;}
        .bar{width: 200px; padding-top: 20px;}
        .fullbar{width: 200px; height: 30px; }
        .occupy>span{line-height: 30px;}
        .filter{font-size: 14px; width: 16%;}
        .container .mix{width: 140px; height: 100px; margin-left: 3%;}
        .hovertitle{font-size: 14px; padding: 0; padding-top: 20px; text-align: center;}
        .hoverlink img{width: 25px; height: 25px;}
        #contlst{ width: 90%; height: 100; margin: 0 auto;}
        #contact1{margin: 0 auto; width: 150px; height: auto; margin-top: 2%;}
        #contact1 img{width: 150px; height: auto; margin-left: 55%;}
        #contact2{width: 100%; height:200px;}
        .cont_box{margin-top: -50px; }
        .l_lst{float: left; margin: 0; margin-left: 20px; line-height: 32px;}
        .l_lst img{width: 20px; height: auto;}
        .r_lst{float: none; font-size: 12px; line-height: 31px; margin-left: 20%}
        #footer {width: 100%; height: 50px;}
        .copy{width: 100%; height: 100%; margin: 0; text-align: center;}
        #footer p{line-height: 50px;font-size: 13px;}
    }
    @media screen and (min-width:768px) and (max-width:1024px){
        .page{width: 100vw; height: 100vh;}
        .con_tit{padding: 0; padding-top: 20px;}
        .con_box{width: 90%; height: 100%; margin: 0 auto;}
        .mob{display: block; }
        .menu{clear: both; position: fixed; z-index: 90; background-color: #f8f8f8; width: 80%; height: 100vh; margin-top: 0; top: 0; right: -100%; transition: 0.7s;}
        .mn_lst{margin-left: 10%; margin-top: 50%;}
        .menu li{float: none; padding-bottom: 10%;}
        .menu li a{color: #6b76ff; font-size: 28px; font-weight: 600;}
        .mn_lst li.on a { color: #6b76ff; }
        #lst_ck:checked ~ .mn .menu{right: 0%;}
        .img_box{width: 90%; height: 50%; margin: 0 auto;}
        .content{width: 90%; height: 100%; margin: 0 auto;}
        .icons{padding: 0;}
        .img{padding: 0;}
        .img img{width: 110px; padding: 20px;}
        .bar{width: 400px; margin-top: 20px; padding-left: 20px;}
        .fullbar{width: 400px; height: 40px; }
        .occupy>span{line-height: 40px; font-size: 20px;}
        .filter{font-size: 20px; width: 15%;}
        .container .mix{width: 290px; height: 150px; }
        .hovertitle{font-size: 18px; padding: 0; padding-top: 40px; text-align: center;}
        .hoverlink img{width: 35px; height: 35px;}
        #contlst{ width: 90%; height: 100; margin: 0 auto;}
        #contact1{margin: 0 auto; width: 300px; height: auto;}
        #contact1 img{width: 300px; height: auto; margin-left: 50%;}
        #contact2{width: 100%; height: 350px; border-radius: 15%;}
        .cont_box{margin-top: -30px; }
        .l_lst{float: left; margin: 0; margin-left: 15%; line-height: 40px; margin-top: 2%;}
        .l_lst img{width: 32px; height: auto;}
        .r_lst{float: none; font-size: 18px; line-height: 48px; margin-left: 30%}
        #footer {width: 100%; height: 60px;}
        .copy{width: 100%; height: 100%; margin: 0; text-align: center;}
        #footer p{line-height: 60px;font-size: 17px; }
    }
        