@charset "utf-8";

.section{width: 100vw; height: 100vh;}
            .con_box{width: 360px; height: 100%; margin: 0 auto;}
            .section h1{font-size: 1.8em; padding-top: 50px;}
            
            .con_tit{margin: 0; margin:5%; margin-top: 50px;}
            .logo img{width: 35px; height: 35px; margin: 0 auto;} 
            
            #menu{position: fixed; right: -20px; top: 30px; width: 320px; height: 35px;}
            #menu li{margin: 0; margin-right: 15px;}
            #menu li a{font-size: 18px;}
            
            .img_box{width: 350px; height: 200px; position: relative; top: -50px;}
            .img_lst{width: 320px; height: 190px;background-image: url("./img/main_m.png"); background-position: center center; background-repeat: no-repeat; }
            .main_txt{width: 180px; height: 50px; position: relative; top: 70px; left: 60px; margin: 0;}
            #section0 #scroll{width: 30px; height: auto; position: fixed; left: calc(50% - 15px);}
            
            .charts{width: 370px; height: 300px; margin-left: 10px; }
            .chart{width: 150px; height: 150px; float: left; padding: 0; margin: 10px; margin-bottom: 20px;}
            .circle-mask-outer,.circle-mask-inner {width: 75px; height: 150px;}
            .circle-body{width: 150px; height: 150px;}
            .circle-bod{width: 150px; height: auto;}
            .chart-content{width: 110px; height: 70px;}
            .text .percent-number,.text .percent-symbol{display: block; font-size: 18px; float: left; position: relative; left: 32px; margin-top: -5px;}
            .icon{height: 40px; margin-top: -10px;}
            
            #section2{margin: 0; padding: 0;}
            .filter{font-size: 14px; width: 80px;}
            .container .mix{width: 150px; height: 100px; margin-left: 2.5%; }
            .hovertitle{font-size: 12px; padding: 0; padding-top: 20px; text-align: center;}
            .hoverlink img{width: 20px; height: 20px;}
            
            #contlst{position: relative; margin: 0;}
            #contact1{margin: 0; width: 170px; height: 170px; margin: 0 auto; float: none; clear: both; position: relative; margin-top: 20px;}
            #contact1 img{width: 180px; height: 180px; padding: 0; margin: 0;}
            #contact2{width: 350px; height:250px; padding: 0; margin: 0; position: relative; top: 40px; left: -5px;}
            .cont_box{width: 350px;}
            .l_lst{float: left; margin: 0; margin-left: 40px; line-height: 32px;}
            .l_lst img{width: 19px; height: auto;}
            .r_lst{float: none; font-size: 13px; line-height: 31px; padding-top: -2px;}
            .r_lst li a{font-size: 13px;}
            
            #footer{clear: both; width: 100%; height: 60px; background-color: #ccc; position: absolute; left: 0; bottom: 0;}
            .copy{width: 100%; height: 100%; margin: 0; text-align: center; }
            #footer p{line-height: 60px; font-size: 13px;}