@chartset "utf-8"
     *{margin: 0; padding: 0;}
        body, html{width: 100%; height: 100%; font-family: "Nanum Gothic","Mandali", sans-serif; background-color: #000;}
        ul{list-style: none;}
        label, input, button{outline: 0; border: 0; background-color: transparent; user-select: none;}
        a{text-decoration: none;}
        img{border: 0;}
        .container{width: 100%; height: 100%;}
        .page{width: 100%; height: 100%; position: relative; clear: both; background-repeat: no-repeat; background-position: center center; background-size: auto 100%;}
        .page_tit{color: #fff; font-size: 4em; position: absolute; bottom: 30%; left: 10%;}
        .more{display: block; color: #fff; font-size: 1.3em; font-weight: 700; position: absolute; bottom: 25%; left: 12%;}
        .plus{display: block; width: 28px; height: 28px; float: right; margin-left: 20px; background-image: url("./images/more.png"); background-repeat: no-repeat; background-position: center center; background-size: 24px 24px; box-shadow: 1px 1px 5px #333; border-radius: 15px;}
        #page1{background-image: url("./images/img_season_2019.jpg"); }
        #page2{background-image: url("./images/img_player03.png");}
        #page3{background-image: url("./images/vs3.jpg");}
        #vdo_btn{ width:48px; height:48px;
        position:absolute; top:12%; right:calc(50% - 24px); 
        background-image:url("./images/stop.png");
        background-size:cover; }
        #vdo_btn.on { background-image:url("./images/play.png"); }

        .next_page{display: block; width: 50px; height: 120px; background-image: url(./images/next_btn.png); position: absolute; bottom: 12%; left: calc(90% - 25px);}
        #page5 .next_page{transform: rotate(180deg);}
        .page_text{display: block; position: fixed; bottom: 2%; left: calc(50% - 100px); z-index: 90; width: 200px; height: 40px; background: #fff; color: #333; line-height: 40px; border-radius: 35px;}
        .page_comment{display: block; width: 150px; height: 40px; float: left; font-size: 1.2em; text-indent: 1em;}
        .page_num{display: block; float: right; width: 40px; height: 40px; border-radius: 25px; background: #ccc; font-size: 1.2em; text-align: center;}

        .hd{position: fixed; width: 100%; z-index: 90; top: 0; left: 0; background-color: transparent; height: auto; transition: 0.6s;}
        .hd.on{background-color: #fff; height: 70px;}
        .logo{position: absolute; left: 1em; top: 1em; display: block; width: 120px; height: auto;}
        .logo img{display: block; width: 100%; height: auto; }
        .menu_call{position: absolute; right: 1em; top: 1em; display: block; }
        .menu_call img{width: 20px; height: auto;}
        .fnb{padding-top: 7em;}
        .fnb li{line-height: 2.4; padding: 10px; padding-left: 2em; position: relative; }
        .fnb li a{color: #fff; font-weight: bold; font-size: 1.0em}
        .fnb li a.ad{display: block; color: #fff;}
        .fnb li a.ad:after{content: "+"; display: block; width: 24px;height: 24px; position: absolute; right: 5em;top: -2px; font-size: 1.6em; }
        .fnb li a.ad.on:after { content:"-";}
        .fnb li .sub{display: none;}
        
        .gnb{position: fixed; top:0; left:110%; z-index: 999; width: 100%; overflow-y: scroll; overflow-x: hidden; background: #fff; padding-bottom: 100px; min-height: 100%; transition: 0.6s;}
        .gnb.on{left: 0;}
        .col_logo{display: block; position: absolute; left: 5%; top: 3%; width: 120px; height: auto;}
        .col_logo img{display: block; width: 100%; height: auto;}
        .close{display: block; position: absolute; right: 5%; top: 3%; width: 28px; height: 28px; }
        .close img{display: block; width: 100%; height: auto;}
        .wd_box{clear: both; margin: 10px 0px; padding: 5%; padding-top: 20%;}
        .addr{color: #222;}
        .wd_fr li{float: left; width: 80px; height: 80px; border-radius: 42px; margin: 10px;font-size: 0.8em; color: #fff; text-align: center;}
        .wd_fr li span{display: block; padding-top: 15px;}
        .wd_fr li.item1{background: #b3dced; /* Old browsers */
            background: -moz-linear-gradient(top, #b3dced 0%, #b3dced 34%, #29b8e5 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #b3dced 0%,#b3dced 34%,#29b8e5 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #b3dced 0%,#b3dced 34%,#29b8e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#29b8e5',GradientType=0 ); /* IE6-9 */}
                    .wd_fr li.item2{background: #a8cbea; /* Old browsers */
            background: -moz-linear-gradient(top, #a8cbea 0%, #54a3ee 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #a8cbea 0%,#54a3ee 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #a8cbea 0%,#54a3ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8cbea', endColorstr='#54a3ee',GradientType=0 ); /* IE6-9 */}
        .col_menu{clear: both;}
        .col_menu li{line-height: 1.4; font-size: 0.9em; padding-left: 10%; padding-top: 15px; color: #f37321; font-weight: 600;}
        .col_menu li a{display: block; color: #4a4a4a;  font-weight: bold; font-size: 1.4em;}
        
        