@charset "utf-8";
.hd {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99;
            transition: 0.5s;
            width: 100%;
            height: 70px;
            background-color: transparent;
        }

        .hd.on {
            background-color: #000;
        }

        .logo {
            display: block;
            width: 90px;
            height: 35px;
            margin-top: 10px;
            float: left;
            margin-left: 75px;
            background-image: url("./img/logo_.png");
            background-size: 100% auto;
            background-position: bottom;
        }

        .hd.on .logo {
            background-position: top;
        }
