@charset "utf-8";

*{margin: 0; padding: 0;}
body, html{width: 100%; height: 100%; background: #fff; color: #333; font-family: "Nanum Gothic", "Roboto",sans-serif}
ul, li{list-style: none;}
a{text-decoration: none;}
input, label, button{background: transparent; border: 0; outline: 0; background-image:none; user-select:none;}
.page { clear:both; position:relative; width:100%; height:100vh; overflow:hidden; 
box-sizing:border-box; }
.page:after { content:""; display:block; clear:both; width:100%; height:1px;  background-color:transparent; }
